<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @translation.name %>
</p>

<p>
  <strong>Term:</strong>
  <%= @translation.term_id %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @translation.votes %>
</p>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
