<h1>جدول المصطلحات</h1>
<%= link_to 'مصطلح جديد', new_term_path, :class => 'btn btn-success btn-mini' %>
<table class="table">
  <thead>
    <tr>
      <th>الاسم</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= term.name %></td>
        <td><%= link_to 'اظهار', term, :class => 'btn btn-mini btn-warning' %></td>
        <td><%= link_to 'تعديل', edit_term_path(term), :class => 'btn btn-mini btn-info' %></td>
        <td><%= link_to 'حذف', term, method: :delete, data: { confirm: 'هل انت متاكد؟' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
      <tr>
        <td colspan='4'>
          <table class="table">
            <tr>
              <% term.translations.order(votes: :desc).each do |translation| %>
                <td>
                  <span> (<%= translation.votes %>)</span>
                  <%= translation.name %>
				          <% unless voted_for_term? term %>
                    <span> <%= link_to '+1',vote_up_translation_path(translation),:class => 'btn btn-success btn-mini' %> </span>
				          <% end %>
                </td>
              <% end %>
            </tr>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'مصطلح جديد', new_term_path, :class => 'btn btn-success btn-mini' %>
